/* Make the image fully responsive */
  h1, h2, h3 {
  margin: 0;
  padding: 1em 0;
  }
  ul li {
    list-style: none;
  }

  p {
    margin: 0;
    padding: 1em 0;
  }
  /* PAGE LOADER */
  #loader {
    position: absolute;
    background: grey;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #333;
    border-radius: 50%;
    border-top: 16px solid grey;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }

  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 }
    to { bottom:0px; opacity:1 }
  }

  @keyframes animatebottom {
    from{ bottom:-100px; opacity:0 }
    to{ bottom:0; opacity:1 }
  }

  #myDiv {
    display: none;
    text-align: center;
  }

  /* NAVBAR */
  .navbar1{
    background-color: transparent;
    overflow: hidden;
    height:100px;
    position: fixed;
    width: 100%;
    top: 0px;
    right: 0px;
    left: 0px;
  }

  .navbar1 .logo a {
    float:left;
    z-index: 1;
    width:190px;

    padding: 0px 50px;
  }

  .navbar1 a{
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 25px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .navbar1 ul{
    margin: 8px 0 0 0;
    list-style: none;
  }

  .navbar1 a:hover{
    color:rgb(252, 232, 232);
  }

  /* SIDE NAV */
  .side-nav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color:#F46A6A;
    opacity: 0.8;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
  }

  .side-nav a{
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 22px;
    color: #fff;
    display: block;
    transition: 0.3s;
  }

  .side-nav a:hover{
    color: rgb(250, 206, 206);
  }

  .side-nav .btn-close{
    position: absolute;
    top: 0;
    right: 22px;
    font-size: 36px;
    margin-left: 50px;
  }

  #main{
    transition: margin-left 0.5s;
    padding: 20px;
    overflow: hidden;
    width:100%;
  }

  @media(max-width:568px){
    .navbar1-nav{display: none}
  }

  @media(min-width:568px){
    .open-slide{display: none}
  }

/* HEADER WITH VIDEO BG */
  .v-header{
    height: 100vh;
    display: flex;
    align-items: center;
    color: white;
}

.fullscreen-video-wrap{
    position: absolute;
    top: 0;
    left: 0;
    clip-path: polygon(0 0, 0 80%, 50% 100%, 50% 100%, 100% 80%, 100% 0);
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.fullscreen-video-wrap video{
    min-width: 100%;
    min-height: 100%;
}

.header-overlay{
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #333;
    z-index: 1;
    opacity: 0.5;
    duration:0.3s;
}

.header-content{
    text-align: center;
    z-index: 2;
}

.header-content h1{
    font-size: 50px;
    margin-bottom: 0;
}

.header-content p{
    font-size: 1.5rem;
    display: block;
    padding-bottom: 2rem;
}

.btn{
    border-radius:60%;
    background: #34b3a0;
    color: #fff;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 1rem 2rem;
    top:80%;

}
/*
.cursor{
  display: block;
  position: absolute;
  height: 50%;
  top: 0;
  right: -5px;
  width: 2px;
  /* Change colour of Cursor Here *
  background-color: white;
  z-index: 1;
  animation: flash 0.5s none infinite alternate;
}
@keyframes flash{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
*/

/* Gallery */
.container{
  max-width: 760px;
  margin: auto;
  border: #333 solid 1px;
  padding-bottom: 25px;
  padding-top: 5px;
}

.main-img img,
.imgs img {
  width: 100%;
}

.imgs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}


#current {
  filter: brightness(50%);
}

/* Fade in animation*/
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-in 1 forwards;
}
/* end gallery*/


/* Core Styles */
body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #333;
  color: #fff;
  font-size: 1.1em;
  line-height: 1.5;
  text-align: center;
  overflow-x: hidden;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1, h2, h3 {
  margin: 0;
  padding: 1em 0;
}

p {
  margin: 0;
  padding: 1em 0;
}

.btn {
  margin: .5em 0;
  display: inline-block;
  background: #333;
  color: #fff;
  text-decoration: none;
  padding: 1em 2em;
  border: 1px solid #666;
}

.btn:hover {
  background: #eaeaea;
  color: #333;
}



/* Section A */
#section-a {
  background: #F46A6A;
  color: rgb(88, 87, 87);
  padding-bottom: 0;
  text-align: left;
  font-weight: 10;
}

#section-a .content-wrap{
  border: 0px solid rgb(143, 50, 50);

}

#section-a .content-title {
  text-align: center;
  background: white;
  clip-path: polygon(0 0, 0 60%, 30% 100%, 70% 70%, 90% 100%,100% 80%, 100% 0);
  color: #000;
}

/* Section B */

#section-b {
 padding: 2em 1em 1em;
}

#section-b ul {

  list-style: none;
  margin: 0;
  padding:0;
}

#section-b li {
  margin-bottom: 1em;
  background: #fff;
  color: #333;
}

.card-content h3 {
  color: #000;
  padding: 0em;
}

.card-content {
  padding: 1em;
  color: rgb(63, 62, 62);
  font-size:15px;
}

/* Section C */

#section-c {
  background-color: #21273f;
  color: #ccc;
  padding: 2em;
}

#section-c .container  {
  background: url("http://cdn.backgroundhost.com/backgrounds/subtlepatterns/diagmonds.png");
}

/* Section D */

#section-d .box {
  padding: 2em;
  color: #fff;
}

#section-d .box:first-child{
  background: rgb(27, 27, 27);
}

#map{
  height: 300px;
  width: 100%;
}

#main-footer{
  padding-top: 25px;
  padding-bottom: 25px;
  text-decoration: none;
  background: #000;
  color: #fff;
}

#main-footer a{
  text-decoration: none;
  color: #fff;
}

/* Media Queries */

@media(min-width:700px){
  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
  }

  #section-a .content-text {
    columns: 2;
    column-gap: 2em;
  }

  #section-a .content-text p {
    padding-top:0;
  }

  .content-wrap,
  #section-b ul {
    grid-column: 2/4;
  }

  .box, #main-footer div {
    grid-column: span 2;
  }

  #section-b ul {
    display: flex;
    justify-content: space-around;
  }

  #section-b li {
    width: 31%;
  }
}


 
 


.box1 {  
  
  cursor: pointer;  
  height: 168px; 
  display: block;
  margin: 5px;
  float: right;
  position: relative;  
  overflow: hidden;  
  width: 168px;  

}  

.box1 img {  
  position: absolute;  
  left: 0;  
  -webkit-transition: all 300ms ease-out;  
  -moz-transition: all 300ms ease-out;  
  -o-transition: all 300ms ease-out;  
  -ms-transition: all 300ms ease-out;  
  transition: all 300ms ease-out;  
}  


.box1 .caption {  
  font-family: Tahoma;
  font-size: .5em;
  background-color: rgba(0,0,0,0.8);  
  position: absolute;  
  color: #fff;  
  z-index: 100;  
  -webkit-transition: all 300ms ease-out;  
  -moz-transition: all 300ms ease-out;  
  -o-transition: all 300ms ease-out;  
  -ms-transition: all 300ms ease-out;  
  transition: all 300ms ease-out;  
  left: 0;  
  opacity: 0;  
  width: 100%;  
  height: 150px;  
  text-align: left;  
  padding: 15px;
}  



.box1:hover .fade-caption {  
  opacity: 1;  
}

#mainwrapper1{
  background-color: transparent;
  overflow: hidden;
  height:200px;
  width: 100%;
}


